<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <fa-icon [icon]="ham"></fa-icon>
    </div>

    <a class="navbar-brand px-4" href="#">Header and Sideview</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link " href="#" role="button">Menu 1</a>

               
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " href="#" role="button">Menu 2</a>

               
            </li> <li class="nav-item dropdown">
                <a class="nav-link " href="#" role="button">Menu 3</a>

               
            </li>
        </ul>

    </div>

    <form class="d-flex me-5">
        <div class="container">
            <input  class="input" name="text" type="search" required="" placeholder="Search" >
            
          </div>
          <button class="btn btn-outline-light" type="submit" >Search</button>
    </form>
    
    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"> Rajarshi</button>

        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a href="#" class="dropdown-item" href="#" >Sign up</a>
            </li>
            <li>
                <a href="#" class="dropdown-item"  >Log in</a>
            </li>
            <li>
                <a href="#" class="dropdown-item"  >Your Profile</a>
            </li>
            <li>
                <a href="#" class="dropdown-item"  >Log out</a>
            </li>
        </ul>
    </div>

</nav>